<%- include('./includes/header.ejs') %>
    <tr style="border-collapse:collapse">
        <td class="es-m-txt-l"
            style="background-color:#ffffff;text-align:center;Margin:0;padding-top:20px;padding-bottom:20px;padding-left:30px;padding-right:30px">
            <p
                style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'source sans pro', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;line-height: 200%; color: #332f2e; font-size: 20px;">
                Token created
            </p>
        </td>
    </tr>
    <tr style="border-collapse:collapse">
        <td class="es-m-txt-l"
            style="background-color:#ffffff;text-align:center;Margin:0;padding-top:20px;padding-bottom:20px;padding-left:30px;padding-right:30px">
            <p
                style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'source sans pro', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#666666;font-size:18px">
                Token (<b>
                    <%= title %>
                </b>) is under verification process. Once vefication completes, token will reflect into your profile.
            </p>
        </td>
    </tr>
    <%- include('./includes/footer.ejs') %>